<div class="navbar-wrapper">

  <div class="logo-div">
    <span class="logo-letter-p">C</span>
    <span class="logo-letter-p">l</span>
    <span class="logo-letter-p">u</span>
    <span class="logo-letter-p">b</span>
    <span class="logo">&nbsp;</span>
    <span class="logo-letter-s">r</span>
    <span class="logo-letter-s">e</span>
    <span class="logo-letter-s">s</span>
    <span class="logo-letter-s">e</span>
    <span class="logo-letter-s">r</span>
    <span class="logo-letter-s">v</span>
    <span class="logo-letter-s">e</span>
  </div>

  <nav>
    <ul>
      <ul>
        <li><a class="nav-btn" href="#">Parties</a></li>
        <li><a class="nav-btn" href="#">Clubs</a></li>
        <li><a class="nav-btn" href="#">About</a></li>
      </ul>
    </ul>
  </nav>

</div>
